.page-number{
  border-radius: 22px;
  background-color: #e7e7e7;
  color: #363636;
  padding: 3px;
  margin: 4px;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  font-size: 0.8rem;
}

.page-number-active{
  border-radius: 22px;
  background-color: #500184 !important;
  color: white;
  padding: 3px;
  margin: 4px;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  font-size: 0.8rem;
}



[data-bs-theme="dark"] {
  .page-number{
    background-color: #313131;
    color: white;
  }
}